<div class="overflow-hidden text-center" style="background-color:#808080; min-height:200px">
    <div class="col mx-auto my-5">
        <p class="h1 fw-bold text-white">Ready to get started?</p>
        <a class="btn bg-white mt-3 fw-bold smooth-rounded px-4" href="jobs">Explore open roles <i style="transform: rotate(45deg);" class="fas fa-arrow-up"></i></a>
    </div>
</div>