<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white px-3 py-3">
    <a class="navbar-brand ms-3 fw-bold" href="#">Careers</a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="lifeatuju">
                Life at Uju
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="benefits">
                Benefits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-dark" href="internship">
                Internship
            </NavLink>
        </div>
        <a class="nav-link btn btn-dark text-white smooth-rounded" href="jobs">
            Explore open roles <i style="transform: rotate(45deg);" class="fas fa-arrow-up"></i>
        </a>
    </div>
</nav>
