@page "/benefits"
<Banner Title="Benefits"
        SubTitle="Employee well-being is crucial to our collective success.
                <br/> Learn more about the top-rated benefits UJU employees enjoy."
        BackgroundPath="/img/benefits/BenefitsAtUJU.jpg"
    />

                <div class="container">
                    <div class="my-5 mx-auto text-center">
                        <h1 class="display-4 fw-bolder">Comprehensive healthcare</h1>
                        <h1 class="fs-5 text-muted">
                            We place a high value on wellness and work hard to ensure that our teams are content and healthy both now and in the future.
                        </h1>
                    </div>

                    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
                        <div class="col d-flex">
                            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                                <div class="card-body flex-grow-1">
                                    <h4 class="my-0 fw-bold mb-3">Medical</h4>
                                    Uju provides a wide range of medical plans
                                    that all come with prescription coverage and
                                    wellness tools to help you maintain your well-being.
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                                <div class="card-body flex-grow-1">
                                    <h4 class="my-0 fw-bold mb-3">Dental</h4>
                                    Flexibility is a key feature of our dental care,
                                    giving you the freedom to choose from a long
                                    roster of dentists that suit your preference.
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                                <div class="card-body flex-grow-1">
                                    <h4 class="my-0 fw-bold mb-3">Paid Time Off</h4>
                                    We provide a robust paid time off (PTO) program that
                                    enables all regular, full-time employees to collect
                                    the equivalent of 20 days annually.
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                                <div class="card-body flex-grow-1">
                                    <h4 class="my-0 fw-bold mb-3">Family Care</h4>
                                    Our employees and their families receive
                                    world-class therapeutic services and support
                                    through our health network.
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="my-5 mx-auto text-center">
                        <h1 class="display-4 fw-bolder">Work Life Success</h1>
                        <h1 class="fs-5 text-muted">
                            Balance is the key to sustainable innovation. With Work Life Success, we strive to help you synchronize work and personal life.
                        </h1>
                    </div>

                    <div class="row d-flex align-items-center gx-5 mb-5">
                        <div class="col-md-6 order-1 order-md-1">
                            <img src="/img/benefits/Celebrating.jpg" alt="Description of image" class="img-fluid img-hands">
                        </div>
                        <div class="col-md-6 order-md-2">
                            <p class="lead">
                                At UJU, we believe that supporting our employees’ overall wellbeing drives innovation and business success.
                                <br /><br />That’s why we offer a robust Work Life Excellence program that promotes growth both in and out of the office.
                                <br /><br />Our RECHARGE rooms provide quiet spaces to meditate or nap when you need a break in the workday.
                                <br /><br />We incentivize community service with our Care For Others volunteer program, matching your service hours with donations to the cause.
                                <br /><br />Our WORKOUT benefit provides an annual stipend towards fitness activities and equipment to encourage both physical and mental health.
                                <br /><br />At UJU, we strive to create a supportive, nourishing environment so our team can do their best work while also pursuing personal growth and joy.
                            </p>
                        </div>
                    </div>
                </div>

<Footer />