.card-box {
    min-height: 300px;
    background-color: #F7F7F7
}

.img-rocket {
    min-height: 700px;
    width: auto;
    object-fit: cover; /* Maintain the aspect ratio/cropping */
}

@media (max-width: 768px) {
    .card-box {
        min-height: 200px;
    }

    .img-rocket {
        min-height: 100%;
    }
}