@page "/"

<Banner 
    MinHeight = "810"
    Title="Innovating Today, <br />Elevating Tomorrow." 
    SubTitle="Inspire the world and explore the future at UJU." 
    BackgroundPath="/img/index/Home.jpg" 
    />

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Who we are</h1>
        <h1 class="fs-5 text-muted">
            Our goal is to produce a better world for everyone by inventing human-driven breakthroughs that overcome obstacles.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                <div class="py-3">
                    <h4 class="my-0 fw-bold">Life at UJU</h4>
                </div>
                <div class="card-body flex-grow-1">
                    We're quick, unrelenting, and constantly
                    creating the next big thing. Become a member
                    of a dynamic, diverse, and imaginative
                    league that is changing the world.
                    <a href="/lifeatuju" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></a>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                <div class="py-3">
                    <h4 class="my-0 fw-bold">Benefits</h4>
                </div>
                <div class="card-body flex-grow-1">
                    UJU is made up of its employees, and
                    we are driven to innovate because we
                    care about your health and welfare.
                    Find out more about the best benefits
                    that UJU employees are eligible for.
                    <a href="/benefits" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></a>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                <div class="py-3">
                    <h4 class="my-0 fw-bold">Internships</h4>
                </div>
                <div class="card-body flex-grow-1">
                    Through rich exposure to leadership,
                    opportunity to make an impact, and
                    empowerment to bring new ideas to life,
                    our dynamic internships help you improve
                    your skills and experience within the field.
                    <a href="/internship" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></a>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row d-flex align-items-center gx-5">
        <div class="col-md-6 order-2 order-md-2">
            <h1 class="display-4 fw-bolder">Push the world forward</h1>
            <p class="lead">
                At UJU Technology, our relentless pursuit of innovation
                define each day as an opportunity to push the boundaries of
                technological advancement. As pioneers in the industry, we
                are dedicated to shaping a future where cutting-edge
                solutions seamlessly integrate into everyday life.
                <br />
                <br />
                A wide array of innovative products, including 5G networks,
                digital solutions, home entertainment systems, linked appliances,
                and revolutionary mobile devices, are offered by UJU Technology.
                Our goal is to completely transform how people view technology,
                bringing efficiency, fun, and inspiration into their lives.
                With UJU Technology, you can embrace the future—where innovation has no boundaries.
            </p>
        </div>
        <div class="col-md-6 order-1 order-md-1">
            <img src="/img/index/Push.jpg" alt="Description of image" class="img-fluid img-rocket">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-bolder pb-md-4">Our teams</h1>
        <h1 class="fs-5 text-muted">
            We’re more than technology. Every role at Uju presents a new opportunity to make a lasting, global impact.
        </h1>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div>
                        <img src="/img/index/Marketing.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Marketing is responsible for promoting and creating
                                awareness about UJU Technology's products and services.
                                This includes developing strategic plans, conducting
                                market research, creating advertising campaigns, and
                                managing communication channels to reach and engage
                                the target audience effectively.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Sales.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Sales</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                The Sales sector focuses on generating revenue by
                                selling UJU Technology's products and services.
                                This involves building relationships with clients,
                                understanding their needs, and effectively communicating
                                how UJU's offerings can address those needs. Sales
                                teams work to meet targets, negotiate deals, and
                                ensure customer satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Corporate Support.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Corporate Support</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Corporate Support encompasses various administrative
                                functions that help the company run smoothly. This
                                includes human resources, finance, legal, and other
                                support services. These teams provide essential support
                                to different departments, ensuring compliance, managing
                                finances, and handling day-to-day operations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Technology.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Technology</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                The Technology sector is at the core of UJU's business,
                                responsible for developing and maintaining cutting-edge
                                products and solutions. This includes software development,
                                hardware engineering, research and development, and staying
                                ahead of technological trends to ensure UJU remains
                                innovative and competitive in the market.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Customer Solutions.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Retail</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                The Retail sector involves the distribution
                                and sale of UJU Technology's products through
                                various channels, such as physical stores,
                                online platforms, and authorized resellers.
                                Retail teams focus on creating a positive customer
                                experience, managing inventory, and ensuring that
                                products are readily available to consumers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Design.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Design</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                The Design sector plays a crucial role in
                                shaping the aesthetics and functionality of
                                UJU Technology's products. This includes industrial
                                design for physical products, user interface (UI)
                                and user experience (UX) design for software, and
                                overall brand aesthetics. Design teams work to create
                                visually appealing and user-friendly products that
                                align with the company's vision and values.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Footer/>                  