@page "/internship"

<Banner Title="Internships"
        SubTitle=" UJU’s dynamic internships prepare talent for successful and fulfilling,<br />
                   careers, with access to top leaders across our organization."
        BackgroundPath="/img/intern/Internship.jpg" />

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Intern Perks</h1>
        <h1 class="fs-5 text-muted">
            To nurture every aspect of your life within UJU and beyond, interns enjoy access to a wide range of additional benefits.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Experience UJU Technology</h4>
                    Interact with the latest and greatest technology.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Learn from Professionals</h4>
                    Learn from the best professionals in your field of interest.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column card-box">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Social Networking</h4>
                    Create lasting relationships with fellow interns and the UJU team.
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="my-5 mx-auto">
        <div class="text-center mb-5">
            <h1 class="display-4 fw-bolder">Internship FAQs</h1>
        </div>
        <div class="fs-5 text-muted text-left">
            <p class="mb-4">
                <strong>Q:</strong> Is the internship program paid?
                <br /><strong>A:</strong> Our interns are just as important full-time employees, and are paid.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> How can I apply for an internship opportunity with UJU?
                <br /><strong>A:</strong> Check out our open internship opportunities every year September-December under this section. Currently, we are not accepting any interns.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> Can I apply for an internship if I’ve already graduated?
                <br /><strong>A:</strong> You must be currently enrolled in a qualifying degree or certificate program.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> Which UJU teams offer internships?
                <br /><strong>A:</strong> Internships in Marketing, Technology, Retail, and Design are available.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> When should I apply for an internship?
                <br /><strong>A:</strong> Internships are posted September-December. We encourage candidates to apply early.
            </p>
        </div>
    </div>
</div>

<Footer />