@page "/lifeatuju"

<Banner
        Title="Life at<br />UJU"
        SubTitle="Our vision is adventurous and daring."
        BackgroundPath="/img/life/LifeAtUju.jpg" />

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">What we stand for</h1>
        <h1 class="fs-5 text-muted">
            UJU Technology is built upon a philosophy – the ceaseless pursuit of excellence with the conviction that it will craft a superior world for everyone.
            These are the three fundamental values that steer every aspect of our endeavors and shape the manner in which we achieve them.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="py-3">
                    <i class="fas fa-user"></i>
                </div>
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold">Human experience</h4>
                    Our fundamental principle is that a company is its people.
                    We're driven by the goal to cultivate an environment where
                    individuals can flourish and achieve the extraordinary.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="py-3">
                    <i class="fas fa-cubes"></i>
                </div>
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold">Defiant optimism</h4>
                    We thrive at the intersection of passion and brilliance,
                    consistently urging ourselves and our colleagues to
                    reach new heights in being and doing our best.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="py-3">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold">Progressive innovation</h4>
                    We embrace and foresee the future, meeting change
                    with agility and creativity. Constant innovation
                    is our pathway to strength and success.
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Meet our team</h1>
    </div>

    <div class="row d-flex align-items-center gx-5">
        <div class="col-md-6 order-md-1">
            <img src="/img/life/AWorker.jpg" alt="Description of image" class="img-fluid img-people">
        </div>
        <div class="col-md-6 order-md-2">
            <h1 class="display-4 fw-bolder">John Doe,<br />Designer</h1>
            <p class="lead">
                "As the Representative Designer, my role at the company
                is both exhilarating and crucial. I'm the driving force
                behind translating creative visions into tangible, visually
                captivating products that embody our brand identity. I work
                hand-in-hand with cross-functional teams, particularly in
                Technology and Marketing, ensuring that design seamlessly
                integrates with technology while effectively conveying our brand message."
            </p>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-bolder pb-md-4">Where we work</h1>
    </div>
</div>

<div class="">
    <img src="/img/life/Map.jpg" alt="Description of image" class="img-fluid img-map">
</div>

<div class="container">
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-5">
                <div class="col">
                    <div>
                        <img src="/img/life/ALocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>New York, NY</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                180+ employees<br />
                                In the heart of Manhattan<br />
                                Interactive digital installations<br />
                                Open floor plan<br />
                                Gaming lounge<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/life/BLocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Austin, TX</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                100+ employees<br />
                                Technology hub<br />
                                Gym and Wellness<br />
                                On-site café<br />
                                Outdoor sports court<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/life/CLocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Seattle, WA</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                350+ employees<br />
                                eCommerce hub<br />
                                Spacious break room and lounge<br />
                                On-site gym<br />
                                Open floor plan<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/life/DLocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>San Francisco, CA</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                200+ employees<br />
                                Headquarters<br />
                                Consumer Electronics hub<br />
                                Collaborative working spaces<br />
                                Pool and gym<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<Footer/>